
   {% extends 'uifiles/base.html' %}
   {% load static %}
   {% block content %}
    

<div class="unslate_co--section "  id="contact-section">
    <div class="container">
        <div class="section-heading-wrap text-center mb-3">
            <h2 class="heading-h2 text-center " ><span class="gsap-reveal">Celebpreneur Transformation</span></h2>
            <span class="gsap-reveal"><img src="{% static 'assets/images/divider.png' %}" alt="divider" width="76"></span>
        </div>
        <div class="row ">
            <div class="col-12 col-sm-12 mb-5 mb-lg-0 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="300">
                <div class="counter-v1 text-center " style="display: flex;flex-direction: column;align-items: center;">

<img src="{% static 'assets/media/uploads/itsnsandeep-celebprenenur-transformation_11zon.jpg' %}" class="img-fluid mb-3">

                    <p style=" width:90%;"  > Description: Mr.sandeep is specialized in helping celebrities unleash their entrepreneurial potential and transform their fame into successful brands. Our unique approach combines your existing celebrity status with strategic planning and brand alignment to create thriving businesses. Whether you're an actor, musician, or athlete, we provide the guidance and expertise to help you build a strong personal brand and leverage it for entrepreneurial success.</p>
                 
                  
                </div>
            </div>

        </div>
        <div class="row pb-2">
     
            <div class="col-lg-6  wow" data-wow-delay="0.6s">
              <div id="accordion" class="myaccordion w-100 mb-5 mt-5" aria-multiselectable="true">
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="1000">
                  <div class="card-header p-0" id="headingOne">
                    <h2 class="mb-0">
                      <button href="#collapseOne"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module 1
                         </p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body py-3 px-0">
                      <p class="px-4" style="text-align: justify; font-size:16px; word-spacing: normal;">
      
                      <ol style="
                      margin-inline-end: 20px!important;
                      padding-inline-start: 20px!important;">
                        <li style="list-style-type:none;">
                          
                          <p  style="text-align: justify;  word-spacing: normal;padding-inline-start: 0px!important;">Transitioning Your Personal Brand: Leveraging Your Celebrity Status In this module, celebrities will explore how to transition their personal brand into a successful entrepreneurial venture. Learn how to capitalize on your celebrity status, define your niche market, and leverage your existing fan base. Develop strategies to communicate your brand story effectively and create a compelling value proposition for your target audience.
                          </p>
                        </li>
                       
                       
      
                      </ol>
                      </p>
      
                     
                    </div>
                  </div>
                </div>
      
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="1500">
                  <div class="card-header p-0" id="headingTwo" role="tab">
                    <h2 class="mb-0">
                      <button href="#collapseTwo"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;text-align: justify;">Module 2</p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">
                     
                      <p class="px-4" style="text-align: justify;  word-spacing: normal;">
                        Building a Strategic Business Plan This module focuses on developing a strategic business plan tailored to the unique needs of celebpreneurs. Understand market dynamics, conduct competitive analysis, and identify growth opportunities. Learn how to create a strong business foundation, establish revenue streams, and implement effective marketing and branding strategies to ensure long-term success
                      </p>
      
                    </div>
                  </div>
                </div>
      
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="2000">
                  <div class="card-header p-0" id="headingThree" role="tab">
                    <h2 class="mb-0">
                      <button href="#collapseThree"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseThree">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module 3</p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">
                      
                      <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                        Branding Beyond Fame: Creating a Cohesive Brand Identity As a celebrity turned entrepreneur, it's crucial to develop a cohesive brand identity that goes beyond your fame. In this module, explore the process of defining your brand values, personality, and visual identity. Learn how to align your personal brand with your business brand to create a consistent and memorable customer experience
                      </p>
      
                    </div>
                  </div>
                </div>
      
              
               
              </div>
      
            </div>
           
            
            <div class="col-lg-6   wow column2 " data-wow-delay="0.6s">
      
              <div id="accordion" class="myaccordion w-100 mt-5" aria-multiselectable="true">
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="2500">
                    <div class="card-header p-0" id="headingFour" role="tab">
                      <h2 class="mb-0">
                        <button href="#collapseFour"
                          class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                          data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                          aria-controls="collapseFour">
                          <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module  4</p>
                          <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                        </button>
                      </h2>
                    </div>
                    <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="card-body py-3 px-0">
  
                        <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                          Marketing and Digital Presence: Amplifying Your Reach Effective marketing and a strong digital presence are essential for the success of your entrepreneurial venture. In this module, discover strategies to amplify your reach and engage with your target audience. Learn how to leverage social media, content marketing, influencer collaborations, and other marketing channels to build brand awareness, attract customers, and drive business growth.
                        </p>
        
                      </div>
                    </div>
                  </div>
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="2000">
                    <div class="card-header p-0" id="headingNine" role="tab">
                      <h2 class="mb-0">
                        <button href="#collapseNine"
                          class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                          data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                          aria-controls="collapseNine">
                          <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module 5</p>
                          <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                        </button>
                      </h2>
                    </div>
                    <div class="collapse" id="collapseNine" role="tabpanel" aria-labelledby="headingNine">
                      <div class="card-body py-3 px-0">
                       
                        <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                            Revenue Generation and Monetization: Maximizing Business Opportunities As a celebpreneur, generating revenue and monetizing your brand is a key priority. This module explores various revenue streams and monetization strategies tailored to your unique brand and industry. Learn how to identify and optimize income opportunities, such as product launches, endorsements, brand partnerships, licensing, and more.
                        </p>
        
                      </div>
                    </div>
                  </div>
              
               
           
               
              </div>
            </div>
         
         
        
        </div>
        <div class="row pb-2">
            <div class="col-12 col-sm-12 mb-5 mb-lg-0 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="300">
                <div class="counter-v1 text-center ">



                  
                 
                    <p style=" text-align:justify;"><span style="font-weight:550;">Ignite Your Star Power, Unleash Your Business Brilliance</span> to unleash your star power and transform your celebrity status into entrepreneurial success? Discover our exclusive celebpreneur services and unlock your full potential as a business powerhouse. Embrace the spotlight and take the first step towards building your empire. Contact us now to embark on your extraordinary journey presence.</p>
                       
                </div>
            </div>

        </div>
    </div>
</div>  
</div>
   
{% endblock %}