{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<div class="unslate_co--section "  id="contact-section">
    <div class="container">
        <div class="section-heading-wrap text-center mb-3">
            <h2 class="heading-h2 text-center " ><span class="gsap-reveal">CEO & Business
                    Owner Personal Branding</span></h2>
            <span class="gsap-reveal"><img src="{% static 'assets/images/divider.png' %}" alt="divider" width="76"></span>
        </div>
        <div class="row ">
            <div class="col-12 col-sm-12 mb-5 mb-lg-0 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="300">
                <div class="counter-v1 text-center " style="display: flex;flex-direction: column;align-items: center;">

<img src="{% static 'assets/media/uploads/itsnsandeep-business-owners.png' %}" class="img-fluid">

                    <p style=" width:80%;"  > Personal branding is crucial
                        for establishing credibility, fostering trust, and attracting new
                        opportunities. Through our personalized approach, we help CEOs and business owners align their
                        vision and
                        values with their brand identity, enabling them to create a strong professional reputation and
                        lead with
                        impact.</p>
                 
                  
                </div>
            </div>

        </div>
        <div class="row pb-2">
     
            <div class="col-lg-6  wow" data-wow-delay="0.6s">
              <div id="accordion" class="myaccordion w-100 mb-5 mt-5" aria-multiselectable="true">
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="1000">
                  <div class="card-header p-0" id="headingOne">
                    <h2 class="mb-0">
                      <button href="#collapseOne"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module 1
                         </p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body py-3 px-0">
                      <p class="px-4" style="text-align: justify; font-size:16px; word-spacing: normal;">
      
                      <ol style="
                      margin-inline-end: 20px!important;
                      padding-inline-start: 20px!important;">
                        <li style="list-style-type:none;">
                          
                          <p  style="text-align: justify;  word-spacing: normal;padding-inline-start: 0px!important;">Creating Your Executive Brand: Aligning Vision and Values In this module, we guide CEOs and business owners in crafting their executive brand by aligning their vision, values, and expertise. Discover how to define your unique leadership style, establish a compelling personal brand narrative, and showcase your value proposition. Enhance your executive presence and communicate your brand effectively to key stakeholders.
                          </p>
                        </li>
                       
                       
      
                      </ol>
                      </p>
      
                     
                    </div>
                  </div>
                </div>
      
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="1500">
                  <div class="card-header p-0" id="headingTwo" role="tab">
                    <h2 class="mb-0">
                      <button href="#collapseTwo"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;text-align: justify;">Module 2</p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">
                     
                      <p class="px-4" style="text-align: justify;  word-spacing: normal;">
                        Crafting a Compelling Personal Brand Strategy This module focuses on developing a comprehensive personal brand strategy for CEOs and business owners. Learn how to identify your target audience, differentiate yourself from competitors, and create a consistent brand experience. Explore strategies to effectively position yourself as a thought leader, build a strong online presence, and leverage networking opportunities to enhance your brand reach and influence
                      </p>
      
                    </div>
                  </div>
                </div>
      
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="2000">
                  <div class="card-header p-0" id="headingThree" role="tab">
                    <h2 class="mb-0">
                      <button href="#collapseThree"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseThree">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module 3</p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">
                      
                      <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                        Reputation Management: Building Trust and Credibility Establishing and maintaining a positive reputation is crucial for CEOs and business owners. In this module, learn effective strategies for managing and enhancing your reputation. Discover how to handle public perception, navigate challenging situations, and respond to reputation crises with integrity and transparency.
                      </p>
      
                    </div>
                  </div>
                </div>
      
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="2500">
                  <div class="card-header p-0" id="headingFour" role="tab">
                    <h2 class="mb-0">
                      <button href="#collapseFour"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseFour">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module  4</p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">

                      <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                        Crisis Communication: Leading Through Times of Challenge CEOs and business owners often face unexpected crises that can impact their personal and professional brands. This module equips you with the skills to effectively communicate during crisis situations. Learn crisis management techniques, develop key messaging, and lead with confidence and empathy to maintain trust and confidence among stakeholders.
                      </p>
      
                    </div>
                  </div>
                </div>
               
              </div>
      
            </div>
           
            
            <div class="col-lg-6   wow column2 " data-wow-delay="0.6s">
      
              <div id="accordion" class="myaccordion w-100 mt-5" aria-multiselectable="true">
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="2000">
                    <div class="card-header p-0" id="headingNine" role="tab">
                      <h2 class="mb-0">
                        <button href="#collapseNine"
                          class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                          data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                          aria-controls="collapseNine">
                          <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module 5</p>
                          <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                        </button>
                      </h2>
                    </div>
                    <div class="collapse" id="collapseNine" role="tabpanel" aria-labelledby="headingNine">
                      <div class="card-body py-3 px-0">
                       
                        <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                          Executive Networking: Cultivating Meaningful Connections Networking is a critical aspect of personal branding for CEOs and business owners. In this module, explore strategies for building and nurturing valuable professional relationships. Learn how to expand your network, leverage industry events, and engage with key influencers. Develop the skills to create meaningful connections that open doors to new opportunities and business growth.
                        </p>
        
                      </div>
                    </div>
                  </div>
                <div class="card m-2 shadow" data-aos="fade-left" data-aos-duration="1000">
                  <div class="card-header p-0" id="headingTen" role="tab">
                    <h2 class="mb-0">
                      <button href="#collapseTen"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseTen">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module 6</p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseTen" role="tabpanel" aria-labelledby="headingTen">
                    <div class="card-body py-3 px-0">
                    
                      <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                        Building Strategic Partnerships: Collaborating for Success Strategic partnerships can propel your brand and business forward. In this module, discover how to identify and forge strategic alliances that align with your vision and values. Learn negotiation techniques, establish mutually beneficial partnerships, and leverage collective strengths to drive innovation, expand your reach, and achieve shared goals.
                      </p>
      
                    </div>
                  </div>
                </div>
                <div class="card m-2 shadow" data-aos="fade-left" data-aos-duration="1000">
                  <div class="card-header p-0" id="headingFive">
                    <h2 class="mb-0">
                      <button href="#collapseFive"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseFive">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module  7</p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseFive" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body py-3 px-0">
                     
                      <p class="px-4" style="text-align: justify;  word-spacing: normal;">
                        Thought Leadership: Positioning Yourself as an Industry Expert Becoming a thought leader in your industry establishes your credibility and influence. This module guides you through the process of positioning yourself as an industry expert. Learn how to share your knowledge, insights, and expertise through content creation, public speaking engagements, and media opportunities. Establish yourself as a goto authority in your field and enhance your personal brand's visibility and impact.
                      </p>
      
                    </div>
                  </div>
                </div>
      
           
               
              </div>
            </div>
         
         
        
        </div>
        <div class="row pb-2">
            <div class="col-12 col-sm-12 mb-5 mb-lg-0 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="300">
                <div class="counter-v1 text-center ">



                  
                 
                    <p style=" text-align:justify;">Take the first step towards building a powerful personal brand. Schedule a consultation with sandeep 
                        to discuss your personal branding goals and tailor a personalized strategy to elevate your brand
                        presence.</p>
                        <a href="mailto:connect@itsnsandeep.com"> <button class="btn btn-primary">Schedule a Consultation</button></a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
    

{% endblock %}