{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<div class="unslate_co--section "  id="contact-section">
    <div class="container">
        <div class="section-heading-wrap text-center mb-3">
            <h2 class="heading-h2 text-center " ><span class="gsap-reveal">Corporate solutions: Personal Branding Mastery Workshops for Corporate Success</span></h2>
            <span class="gsap-reveal"><img src="{% static 'assets/images/divider.png' %}" alt="divider" width="76"></span>
        </div>
        <div class="row ">
            <div class="col-12 col-sm-12 mb-5 mb-lg-0 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="300">
                <div class="counter-v1 text-center " style="display: flex;flex-direction: column;align-items: center;">

<img src="{% static 'assets/media/uploads/tsnsandeep-corporate-solutions-personal-branding-mastery-workshops-for-corporate-success_11zon.jpg' %}" class="img-fluid mb-3">

                    <p style=" width:80%;"  > Unlock your full potential and stand out in today's competitive corporate landscape with our transformative Personal Branding Mastery Workshops. Designed exclusively for professionals and corporate teams, our workshops empower you to craft a compelling personal brand, enhance your professional image, and accelerate your career growth. Through interactive sessions, practical exercises, and expert guidance, you'll develop the skills and strategies needed to leave a lasting impact and achieve your professional goals.</p>
                 
                  
                </div>
            </div>

        </div>
        <div class="row pb-2">
     
            <div class="col-lg-6  wow" data-wow-delay="0.6s">
              <div id="accordion" class="myaccordion w-100 mb-5 mt-5" aria-multiselectable="true">
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="1000">
                  <div class="card-header p-0" id="headingOne">
                    <h2 class="mb-0">
                      <button href="#collapseOne"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module 1
                         </p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body py-3 px-0">
                      <p class="px-4" style="text-align: justify; font-size:16px; word-spacing: normal;">
      
                      <ol style="
                      margin-inline-end: 20px!important;
                      padding-inline-start: 20px!important;">
                        <li style="list-style-type:none;">
                            <h6 style="font-weight:550">"Crafting Your Personal Brand: Building a Strong Foundation"</h6>
                          <p  style="text-align: justify;  word-spacing: normal;padding-inline-start: 0px!important;">In this module, you'll discover the power of personal branding and learn how to build a solid foundation for your professional identity. From identifying your unique value proposition to creating a compelling personal brand statement, you'll gain insights and tools to authentically communicate your strengths and stand out from the crowd.
                          </p>
                        </li>
                       
                       
      
                      </ol>
                      </p>
      
                     
                    </div>
                  </div>
                </div>
      
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="1500">
                  <div class="card-header p-0" id="headingTwo" role="tab">
                    <h2 class="mb-0">
                      <button href="#collapseTwo"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;text-align: justify;">Module 2</p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">
                        <ol style="
                        margin-inline-end: 20px!important;
                        padding-inline-start: 20px!important;">
                          <li style="list-style-type:none;">
                        <h6 style="font-weight:550">"Leveraging Social Media for Personal Branding Success"</h6>
                          </li>
                        </ol>
                      <p class="px-4" style="text-align: justify;  word-spacing: normal;">
                        In the digital age, social media is a game-changer for personal branding. This module equips you with strategies to harness the potential of social platforms, enhance your online presence, and effectively engage with your target audience. From LinkedIn optimization to content creation and networking tactics, you'll learn how to leverage social media for personal branding success
                      </p>
      
                    </div>
                  </div>
                </div>
      
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="2000">
                  <div class="card-header p-0" id="headingThree" role="tab">
                    <h2 class="mb-0">
                      <button href="#collapseThree"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseThree">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module 3</p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">
                        <ol style="
                        margin-inline-end: 20px!important;
                        padding-inline-start: 20px!important;">
                          <li style="list-style-type:none;">
                        <h6 style="font-weight:550">"Dress for Success: Elevating Your Professional Image"</h6>
                          </li>
                        </ol>
                      <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                        Your appearance plays a crucial role in personal branding. This module focuses on the art of dressing for success and projecting a polished professional image. From understanding dress codes to grooming tips and styling techniques, you'll gain the confidence to dress appropriately for different business settings and leave a lasting positive impression
                      </p>
      
                    </div>
                  </div>
                </div>
      
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="2500">
                  <div class="card-header p-0" id="headingFour" role="tab">
                    <h2 class="mb-0">
                      <button href="#collapseFour"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseFour">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module  4</p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">
                        <ol style="
                        margin-inline-end: 20px!important;
                        padding-inline-start: 20px!important;">
                          <li style="list-style-type:none;">
                        <h6 style="font-weight:550">"Mastering Executive Presence: Commanding Respect and Influence"</h6>
                          </li>
                        </ol>
                      <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                        Executive presence is key to gaining respect and influence in the corporate world. In this module, you'll learn how to cultivate a strong executive presence through effective communication, confident body language, and impactful presentations. Unlock the secrets to commanding attention and exuding leadership qualities that inspire and motivate others
                      </p>
      
                    </div>
                  </div>
                </div>
               
              </div>
      
            </div>
           
            
            <div class="col-lg-6   wow column2 " data-wow-delay="0.6s">
      
              <div id="accordion" class="myaccordion w-100 mt-5" aria-multiselectable="true">
                <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="2000">
                    <div class="card-header p-0" id="headingNine" role="tab">
                      <h2 class="mb-0">
                        <button href="#collapseNine"
                          class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                          data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                          aria-controls="collapseNine">
                          <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module 5</p>
                          <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                        </button>
                      </h2>
                    </div>
                    <div class="collapse" id="collapseNine" role="tabpanel" aria-labelledby="headingNine">
                      <div class="card-body py-3 px-0">
                        <ol style="
                        margin-inline-end: 20px!important;
                        padding-inline-start: 20px!important;">
                          <li style="list-style-type:none;">
                        <h6 style="font-weight:550">"Personal Branding for Leadership Success"</h6>
                          </li>
                        </ol>
                        <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                            Leadership and personal branding go hand in hand. This module explores how to align your personal brand with your leadership aspirations. You'll develop strategies to establish credibility, build influence, and inspire your team. Discover how to create an authentic leadership brand that sets you apart as a successful and respected leader.
                        </p>
        
                      </div>
                    </div>
                  </div>
                <div class="card m-2 shadow" data-aos="fade-left" data-aos-duration="1000">
                  <div class="card-header p-0" id="headingTen" role="tab">
                    <h2 class="mb-0">
                      <button href="#collapseTen"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseTen">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module 6</p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseTen" role="tabpanel" aria-labelledby="headingTen">
                    <div class="card-body py-3 px-0">
                        <ol style="
                        margin-inline-end: 20px!important;
                        padding-inline-start: 20px!important;">
                          <li style="list-style-type:none;">
                        <h6 style="font-weight:550">Building a Winning Online Reputation: Managing Your Digital Footprint"</h6>
                          </li>
                        </ol>
                      <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                        In today's digital era, your online reputation is vital. This module equips you with the tools and techniques to manage your digital footprint and cultivate a positive online reputation. Learn how to navigate social media, handle online feedback, and leverage digital platforms to enhance your professional image and career prospects.
                      </p>
      
                    </div>
                  </div>
                </div>
                <div class="card m-2 shadow" data-aos="fade-left" data-aos-duration="1000">
                  <div class="card-header p-0" id="headingFive">
                    <h2 class="mb-0">
                      <button href="#collapseFive"
                        class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                        data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseFive">
                        <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Module  7</p>
                        <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                      </button>
                    </h2>
                  </div>
                  <div class="collapse" id="collapseFive" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body py-3 px-0">
                        <ol style="
                        margin-inline-end: 20px!important;
                        padding-inline-start: 20px!important;">
                          <li style="list-style-type:none;">
                     <h6 style="font-weight:550">"Effective Networking and Personal Branding: Maximizing Connections"</h6>
                          </li>
                        </ol>
                      <p class="px-4" style="text-align: justify;  word-spacing: normal;">
                        Networking is a critical skill for personal branding and career advancement. In this module, you'll discover effective networking strategies, both online and offline, to expand your professional network and maximize opportunities. From making memorable first impressions to cultivating meaningful relationships, you'll master the art of networking and leverage it for personal brand growth.
                      </p>
      
                    </div>
                  </div>
                </div>
      
           
               
              </div>
            </div>
         
         
        
        </div>
        <div class="row pb-2">
            <div class="col-12 col-sm-12 mb-5 mb-lg-0 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="300">
                <div class="counter-v1 text-center ">



                  
                 
                    <p style=" text-align:justify;">Join our Personal Branding Mastery Workshops and unlock your true potential in today's corporate world. Empower yourself with the skills and strategies needed to elevate your professional image, stand out from the competition, and propel your career to new heights.</p>
                        <a href="mailto:connect@itsnsandeep.com"> <button class="btn btn-primary">Schedule a Consultation</button></a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

{% endblock %}
    