{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
    
    <div class="unslate_co--section "  id="contact-section">
        <div class="container">
            <div class="section-heading-wrap text-center mb-3">
                <h2 class="heading-h2 text-center " ><span class="gsap-reveal">Educational institutions</span></h2>
                <span class="gsap-reveal"><img src="{% static 'assets/images/divider.png' %}" alt="divider" width="76"></span>
            </div>
            <div class="row ">
                <div class="col-12 col-sm-12 mb-5 mb-lg-0 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="300">
                    <div class="counter-v1 text-center " style="display: flex;flex-direction: column;align-items: center;">
    
    
    <img src="{% static 'assets/media/uploads/itsnsandeep-educational-institutions.jpg' %}" class="img-fluid  mb-3">
                        <p style=" width:80%;"  > The "Beyond the Books" module is a specially designed workshop exclusively catered to educational institutions. It aims to equip students with essential life skills that are often overlooked in traditional academic settings. Through interactive sessions and practical exercises, students will develop a strong foundation in key areas necessary for their personal growth and academic success</p>
                     
                      
                    </div>
                </div>
    
            </div>
            <div class="row pb-2">
         
                <div class="col-lg-6  wow" data-wow-delay="0.6s">
                  <div id="accordion" class="myaccordion w-100 mb-5 mt-5" aria-multiselectable="true">
                    <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="1000">
                      <div class="card-header p-0" id="headingOne">
                        <h2 class="mb-0">
                          <button href="#collapseOne"
                            class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                            data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                            <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Time Management: Mastering the Art of Productivity
                             </p>
                            <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                          </button>
                        </h2>
                      </div>
                      <div class="collapse" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body py-3 px-0">
                          <p class="px-4" style="text-align: justify; font-size:16px; word-spacing: normal;">
          
                          <ol style="
                          margin-inline-end: 20px!important;
                          padding-inline-start: 20px!important;">
                            <li >
                              
                              Setting priorities and effective scheduling techniques
                            </li>
                            <li >
                              
                              Goal setting and task prioritization
                            </li>
                            <li >
                              
                              Overcoming procrastination and time-wasting habits
                            </li>
                           
                           
          
                          </ol>
                          </p>
          
                         
                        </div>
                      </div>
                    </div>
          
                    <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="1500">
                      <div class="card-header p-0" id="headingTwo" role="tab">
                        <h2 class="mb-0">
                          <button href="#collapseTwo"
                            class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                            data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                            <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;text-align: justify;">Stress Management: Thriving Under Academic Pressure</p>
                            <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                          </button>
                        </h2>
                      </div>
                      <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body py-3 px-0">
                          <p class="px-4" style="text-align: justify; font-size:16px; word-spacing: normal;">
          
                            <ol style="
                            margin-inline-end: 20px!important;
                            padding-inline-start: 20px!important;">
                              <li >
                                
                                Understanding stress and its impact on academic performance
                              </li>
                              <li >
                                
                                Stress reduction techniques and coping strategies
                              </li>
                              <li >
                                
                                Building resilience and maintaining a healthy work-life balance
                              </li>
                             
                             
            
                            </ol>
                            </p>
            
                         
                        </div>
                      </div>
                    </div>
          
                    <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="2000">
                      <div class="card-header p-0" id="headingThree" role="tab">
                        <h2 class="mb-0">
                          <button href="#collapseThree"
                            class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                            data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                            aria-controls="collapseThree">
                            <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Assertiveness and Self-Confidence: Finding Your Voice</p>
                            <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                          </button>
                        </h2>
                      </div>
                      <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body py-3 px-0">
                          
                          <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                            <ol style="
                            margin-inline-end: 20px!important;
                            padding-inline-start: 20px!important;">
                              <li >
                                
                                Developing assertiveness skills for effective communication
                              </li>
                              <li >
                                
                                Building self-confidence and overcoming self-doub
                              </li>
                              <li >
                                
                                Setting personal boundaries and handling peer pressure
                              </li>
                             
                             
            
                            </ol>
                          </p>
          
                        </div>
                      </div>
                    </div>
          
                    <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="2500">
                      <div class="card-header p-0" id="headingFour" role="tab">
                        <h2 class="mb-0">
                          <button href="#collapseFour"
                            class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                            data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                            aria-controls="collapseFour">
                            <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Public Speaking: Mastering the Art of Persuasion</p>
                            <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                          </button>
                        </h2>
                      </div>
                      <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body py-3 px-0">
    
                          <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                            <ol style="
                            margin-inline-end: 20px!important;
                            padding-inline-start: 20px!important;">
                              <li >
                                
                                Overcoming stage fright and speaking anxiety
                              </li>
                              <li >
                                
                                Effective speech preparation and delivery techniques
                              </li>
                              <li >
                                
                                Enhancing verbal and non-verbal communication skills
                              </li>
                             
                             
            
                            </ol>
                          </p>
          
                        </div>
                      </div>
                    </div>
                    <div class="card m-2 shadow" data-aos="fade-right" data-aos-duration="2000">
                      <div class="card-header p-0" id="headingNine" role="tab">
                        <h2 class="mb-0">
                          <button href="#collapseNine"
                            class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                            data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                            aria-controls="collapseNine">
                            <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Presentation Skills: Engaging Audiences with Impact</p>
                            <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                          </button>
                        </h2>
                      </div>
                      <div class="collapse" id="collapseNine" role="tabpanel" aria-labelledby="headingNine">
                        <div class="card-body py-3 px-0">
                         
                          <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                            <ol style="
                            margin-inline-end: 20px!important;
                            padding-inline-start: 20px!important;">
                              <li >
                                
                                Crafting compelling presentations and visual aids
                              </li>
                              <li >
                                
                                Engaging storytelling techniques and audience interaction
                              </li>
                              <li >
                                
                                Polishing presentation delivery and managing stage presence
                              </li>
                             
                             
            
                            </ol>
                          </p>
          
                        </div>
                      </div>
                    </div>
                   
                  </div>
          
                </div>
               
                
                <div class="col-lg-6   wow column2 " data-wow-delay="0.6s">
          
                  <div id="accordion" class="myaccordion w-100 mt-5" aria-multiselectable="true">
                  
                    <div class="card m-2 shadow" data-aos="fade-left" data-aos-duration="1000">
                      <div class="card-header p-0" id="headingTen" role="tab">
                        <h2 class="mb-0">
                          <button href="#collapseTen"
                            class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                            data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                            aria-controls="collapseTen">
                            <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Dressing: Presenting Yourself Professionally</p>
                            <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                          </button>
                        </h2>
                      </div>
                      <div class="collapse" id="collapseTen" role="tabpanel" aria-labelledby="headingTen">
                        <div class="card-body py-3 px-0">
                        
                          <p class="px-4" style="text-align: justify; font-weight:500; word-spacing: normal;">
                            <ol style="
                              margin-inline-end: 20px!important;
                              padding-inline-start: 20px!important;">
                                <li >
                                  
                                  Understanding appropriate attire for various occasions
                                </li>
                                <li >
                                  
                                  Dressing for success and making positive first impressions
                                </li>
                                <li >
                                  
                                  Enhancing personal grooming and style
                                </li>
                               
                               
              
                              </ol>
                          </p>
          
                        </div>
                      </div>
                    </div>
                    <div class="card m-2 shadow" data-aos="fade-left" data-aos-duration="1000">
                      <div class="card-header p-0" id="headingFive">
                        <h2 class="mb-0">
                          <button href="#collapseFive"
                            class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                            data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                            aria-controls="collapseFive">
                            <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Basic Etiquette: Navigating Social Interactions with Grace</p>
                            <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                          </button>
                        </h2>
                      </div>
                      <div class="collapse" id="collapseFive" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body py-3 px-0">
                         
                          <p class="px-4" style="text-align: justify;  word-spacing: normal;">
                            <ol style="
                              margin-inline-end: 20px!important;
                              padding-inline-start: 20px!important;">
                                <li >
                                  
                                  Developing polite and respectful behavior in various settings
                                </li>
                                <li >
                                  
                                  Dining etiquette and table manners
                                </li>
                                <li >
                                  
                                  Practicing good phone and email etiquette
                                </li>
                               
                               
              
                              </ol> 
                          </p>
          
                        </div>
                      </div>
                    </div>
                    <div class="card m-2 shadow" data-aos="fade-left" data-aos-duration="1000">
                      <div class="card-header p-0" id="headingFive">
                        <h2 class="mb-0">
                          <button href="#collapseFive"
                            class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                            data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                            aria-controls="collapseFive">
                            <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">.Body Language: The Art of Non-Verbal Communication</p>
                            <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                          </button>
                        </h2>
                      </div>
                      <div class="collapse" id="collapseFive" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body py-3 px-0">
                         
                          <p class="px-4" style="text-align: justify;  word-spacing: normal;">
                            <ol style="
                              margin-inline-end: 20px!important;
                              padding-inline-start: 20px!important;">
                                <li >
                                  
                                  Understanding online privacy and responsible digital behavior
                                </li>
                                <li >
                                  
                                  Managing digital footprints and online reputation
                                </li>
                                <li >
                                  
                                  Cyberbullying awareness and digital etiquette
                                </li>
                               
                               
              
                              </ol> 
                          </p>
          
                        </div>
                      </div>
                    </div>
                    <div class="card m-2 shadow" data-aos="fade-left" data-aos-duration="1000">
                      <div class="card-header p-0" id="headingFive">
                        <h2 class="mb-0">
                          <button href="#collapseFive"
                            class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link collapsed"
                            data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                            aria-controls="collapseFive">
                            <p class="mb-0 question" style="color:#f4f8fa; font-weight:600;">Digital Citizenship: Navigating the Digital World Safely</p>
                            <i class="fa" aria-hidden="true" style="color:#006d95;"></i>
                          </button>
                        </h2>
                      </div>
                      <div class="collapse" id="collapseFive" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body py-3 px-0">
                         
                          <p class="px-4" style="text-align: justify;  word-spacing: normal;">
                            <ol style="
                              margin-inline-end: 20px!important;
                              padding-inline-start: 20px!important;">
                                <li >
                                  
                                  nterpreting and utilizing body language effectively
                                </li>
                                <li >
                                  
                                  Enhancing non-verbal communication skills
                                </li>
                                <li >
                                  
                                  Projecting confidence and establishing rapport
                                </li>
                               
                               
              
                              </ol> 
                          </p>
          
                        </div>
                      </div>
                    </div>
          
               
                   
                  </div>
                </div>
             
             
            
            </div>
            
        </div>
    </div> 
</div>

{% endblock %}
       